.project-task-card-container {
  background-color: var(--card-bg);
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 6% 20% 50% 10% 11% 3%;
  transition: all 0.25s;
  box-shadow: var(--shadow);

  input:nth-child(1) {
    padding-left: 0px;
  }

  span {
    background-color: transparent;
    border: none;
    align-self: center;
    color: var(--text-white);
    padding: 8px 10px;
    margin-right: 10px;
    border-right: 1px solid var(--main-bg);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s;
  }

  input {
    background-color: transparent;
    border: none;

    color: var(--text-white);
    padding: 8px 10px;
    margin-right: 10px;
    border-right: 1px solid var(--main-bg);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s;
  }

  textarea {
    background-color: transparent;
    border: none;
    padding: 8px 10px;
    color: var(--text-white);
    min-height: 40px;
    resize: none;
    /* padding: 4px 8px; */
    margin-right: 10px;
    border-right: 1px solid var(--main-bg);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s;
  }

  select {
    content: "";
    background-color: transparent;
    border: none;
    color: var(--text-white);
    border-right: 1px solid var(--main-bg);
    padding: 8px 10px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s;

    option {
      background-color: black;
      color: var(--text-white);
    }
  }

  button {
    background-color: transparent;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
  }

  /* input:hover,
  textarea:hover,
  select:hover {
    transform: scale(1.01);
    border: 1px solid white;
    border-radius: 10px;
  } */

  select:hover {
    transform: scale(1.01);
    border: 1px solid white;
    border-radius: 10px;
  }

  .done {
    color: var(--primary-green);
  }
  .in-progress {
    color: var(--primary-blue);
  }
  .todo {
    color: var(--text-white);
  }

  .high {
    color: var(--primary-red);
  }
  .medium {
    color: var(--primary-orange);
  }
  .low {
    color: var(--text-white);
  }

  /* .done {
    background-color: var(--primary-green);
    border-radius: 10px;
  }
  .in-progress {
    background-color: var(--primary-blue);
    border-radius: 10px;
  }
  .todo {
    background-color: var(--primary-orange);
    border-radius: 10px;
  }

  .high {
    background-color: var(--primary-red);
    border-radius: 10px;
  }
  .medium {
    background-color: var(--primary-orange);
    border-radius: 10px;
  }
  .low {
    background-color: var(--primary-blue);
    border-radius: 10px;
  } */
}

.project-task-card-container:hover {
  transform: scale(1.01);
}

@media screen and (max-width: 768px) {
  .project-task-card-container {
    grid-template-columns: 100%;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}

.project-task-card-modal-main-container {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
