.project-task-card-modal-sub-container {
  width: 800px;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  margin-top: -5%;
  z-index: 1000;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  animation: open-modal-anim 0.2s linear forwards;

  input {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--text-white);
    /* padding: 8px 10px; */

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    height: 52.25px;
    /* width: 100%; */
    transition: all 0.25s;
  }

  input:last-child {
    text-align: right;
  }

  textarea {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    color: var(--text-white);
    padding: 8px 10px;
    resize: none;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    transition: all 0.25s;
  }

  select {
    content: "";
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    color: var(--text-white);
    padding: 8px 10px;
    font-size: 14px;
    height: 52.25px;
    cursor: pointer;
    transition: all 0.25s;

    width: 100%;

    option {
      background-color: black;
      color: var(--text-white);
    }
  }

  button {
    box-shadow: none;
    /* height: 10%; */
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    width: fit-content;
  }

  .delete-button {
    background-color: var(--primary-red);
  }

  .save-button {
    background-color: var(--primary-blue);
  }

  .button-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    gap: 10px;
  }

  input:hover,
  textarea:hover,
  select:hover {
    /* transform: scale(1.01); */
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    background-color: rgba(128, 128, 128, 0.25);
  }

  .row-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  .header-group {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    justify-content: space-between;
  }
}

@keyframes open-modal-anim {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .project-task-card-modal-sub-container {
    width: 300px;
  }

  .project-task-card-modal-sub-container .header-group {
    flex-direction: column;
  }

  .project-task-card-modal-sub-container input:last-child {
    text-align: left;
  }
}
