.project-item-card-container {
  background-color: var(--card-bg);
  border-radius: 10px;
  max-width: auto;
  height: 100px;
  padding: 10px;
  color: var(--text-white);
  transition: all 0.25s;
  position: relative;

  .project-card-title {
    font-size: 20px;
    font-weight: 600;
  }

  .starred {
    position: absolute;
    text-align: right;
    bottom: 10px;
    right: 10px;
  }
}

.project-item-card-container:hover {
  transform: scale(1.05);
}
