body {
}

.sign-in-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .sign-in-sub-container {
    background-color: var(--card-bg);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    /* margin: 0px auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
    font-size: 24px;
    gap: 10px;

    h3 {
      margin: 10px auto;
    }

    input {
      border-radius: 10px;
      padding: 8px 10px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      /* width: 100%; */
      /* margin: 10px; */
    }

    label {
      font-size: 14px;
    }
  }

  .sign-in-button {
    margin: 0px auto;

    font-size: 14px;
  }

  .sign-in-divider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.sign-in-divider-container div:nth-child(1) {
  height: 1px;
  width: 40%;
  background-color: gray;
}
.sign-in-divider-container div:nth-child(2) {
  color: gray;
}
.sign-in-divider-container div:nth-child(3) {
  height: 1px;
  width: 40%;
  background-color: gray;
}
