.home-container {
  border-radius: 10px;
  /* padding: 10px; */
  background-color: var(--sub-bg);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  height: 90vh;

  .left-items {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    color: var(--text-white);
    padding-left: 0px;

    .second-row {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .search-field {
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        transition: all 0.2s;
        position: relative;

        .custom-icon {
          position: absolute;
          top: 7px;
          left: 5px;
        }

        input {
          background-color: transparent;
          border-radius: 10px;
          color: white;
          border: none;
          padding-left: 30px;
          cursor: pointer;
        }
      }
    }
  }

  .project-item-card-grid-container {
    height: 50vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    grid-auto-rows: max-content;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;

    .title {
      color: var(--text-white);
      /* display: none; */
    }
  }

  .left-items .second-row .search-field:hover {
    background-color: rgba(128, 128, 128, 0.25);
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    height: auto;
  }
  .home-container .left-items {
    width: 100%;
  }
  .home-container .project-item-card-grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: auto;
    overflow-y: hidden;

    .title {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .home-container .project-item-card-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .home-container .project-item-card-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
