body {
}

.home-container {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--sub-bg);
  display: flex;
  justify-content: center;
}

.project-item-card-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
