.project-main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--sub-bg);
  border-radius: 10px;
  color: var(--text-white);
  padding: 10px;
  gap: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border-bottom-divider);
    padding-bottom: 5px;

    input {
      background-color: transparent;
      border: none;
      color: var(--text-white);
      font-size: 24px;
      font-weight: 700;
      width: 60%;
    }

    button {
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  .sub-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .show-fields-button {
      width: fit-content;
      align-self: flex-end;
      font-size: 16px;
    }
  }

  .task-item-fields-container {
    display: grid;
    grid-template-columns: 5% 20% 50% 10% 10% 10%;
    text-align: left;
    margin-left: 10px;
  }

  .task-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: 75vh;
    overflow-y: auto;
  }
}

@keyframes field-open-anim {
  0% {
    display: grid;
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes field-close-anim {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    display: none;
  }
}
