body {
  background-color: var(--main-bg);
}

:root {
  --primary-blue: #0077d4;
  --primary-white: white;
  --primary-red: red;
  --text-white: white;
  --text-black: black;
  --main-bg: rgb(51, 51, 51);
  --sub-bg: rgb(43, 43, 43);
  --card-bg: rgb(20, 20, 20);
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px;
}
